<main class="min-h-dvh grid place-items-center [-webkit-user-select:none;]">
  <div class="flex shadow-lg bg-zinc-100 rounded-lg justify-center p-8">
    <div class="flex w-full max-w-lg gap-8">
      <div class="flex-[1/2] space-y-8 flex flex-col">
        <h1 class="text-2xl font-semibold">Configuration</h1>
        <div class="gap-0.5 flex flex-col">
          <input
            [(ngModel)]="totalTickets"
            type="number"
            min="1"
            class="h-9 text-[14px] text-black w-[240px] bg-[#ffffff] px-3 py-1 rounded-lg border border-black focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2 focus:ring-offset-[#ffffff] transition-all duration-150 ease-in-out [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
            name="totalTickets"
            placeholder="Total Tickets"
            value="{{ config?.total_tickets }}"
          />
        </div>
        <div class="gap-0.5 flex flex-col">
          <input
            [(ngModel)]="ticketReleaseRate"
            type="number"
            min="1"
            class="h-9 text-[14px] text-black w-[240px] bg-[#ffffff] px-3 py-1 rounded-lg border border-black focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2 focus:ring-offset-[#ffffff] transition-all duration-150 ease-in-out [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
            name="ticketReleaseRate"
            placeholder="Ticket Release Rate (in seconds)"
            value="{{ config?.release_rate }}"
          />
        </div>
        <div class="gap-0.5 flex flex-col">
          <input
            [(ngModel)]="customerRetrievalRate"
            type="number"
            min="1"
            class="h-9 text-[14px] text-black w-[240px] bg-[#ffffff] px-3 py-1 rounded-lg border border-black focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2 focus:ring-offset-[#ffffff] transition-all duration-150 ease-in-out [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
            name="customerRetrievalRate"
            placeholder="Customer Retrieval Rate (in seconds)"
            value="{{ config?.release_rate }}"
          />
        </div>
        <div class="gap-0.5 flex flex-col">
          <input
            [(ngModel)]="maxTicketCapacity"
            type="number"
            min="1"
            class="h-9 text-[14px] text-black w-[240px] bg-[#ffffff] px-3 py-1 rounded-lg border border-black focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2 focus:ring-offset-[#ffffff] transition-all duration-150 ease-in-out [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
            name="maxTicketCapacity"
            placeholder="Max Ticket Capacity"
            value="{{ config?.max_tickets }}"
          />
        </div>
        <div class="flex gap-2">
          <button
            type="submit"
            class="bg-zinc-200 text-black w-[7.5rem] px-3 rounded-lg h-9 text-sm font-medium hover:bg-black hover:text-white hover:drop-shadow-lg transition-all ease-in-out"
            (click)="getConfig()"
          >
            Load Previous
          </button>
          <button
            type="submit"
            class="bg-zinc-200 text-black px-3 w-[7.5rem] rounded-lg h-9 text-sm font-medium hover:bg-black hover:text-white hover:drop-shadow-lg transition-all ease-in-out"
            (click)="
              savesConfig(
                totalTickets,
                ticketReleaseRate,
                customerRetrievalRate,
                maxTicketCapacity
              )
            "
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
